################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BepInEx/copilot-chat/bff105b7/sessions
/.vs
/bin
/obj
/MelonLoader/obj
/BepInEx/obj/Debug/net6.0
/BepInEx/obj
/BepInEx/bin/ReleaseMulti/net6.0
/AlmanacPlantBank_Patch.cs
MelonLoader/bin/x64/Debug/net6.0/0Harmony.dll
MelonLoader/bin/x64/Debug/net6.0/AsmResolver.dll
MelonLoader/bin/x64/Debug/net6.0/AsmResolver.DotNet.dll
MelonLoader/bin/x64/Debug/net6.0/AsmResolver.PE.dll
MelonLoader/bin/x64/Debug/net6.0/AsmResolver.PE.File.dll
MelonLoader/bin/x64/Debug/net6.0/Assembly-CSharp.dll
MelonLoader/bin/x64/Debug/net6.0/AssetRipper.Primitives.dll
MelonLoader/bin/x64/Debug/net6.0/AssetsTools.NET.dll
MelonLoader/bin/x64/Debug/net6.0/AudioImportLib.dll
MelonLoader/bin/x64/Debug/net6.0/bHapticsLib.dll
MelonLoader/bin/x64/Debug/net6.0/Il2Cpp__Generated.dll
MelonLoader/bin/x64/Debug/net6.0/Il2CppInterop.Common.dll
MelonLoader/bin/x64/Debug/net6.0/Il2CppInterop.Generator.dll
MelonLoader/bin/x64/Debug/net6.0/Il2CppInterop.HarmonySupport.dll
MelonLoader/bin/x64/Debug/net6.0/Il2CppInterop.Runtime.dll
MelonLoader/bin/x64/Debug/net6.0/Il2CppMono.Security.dll
MelonLoader/bin/x64/Debug/net6.0/Il2Cppmscorlib.dll
MelonLoader/bin/x64/Debug/net6.0/Il2CppSystem.Configuration.dll
MelonLoader/bin/x64/Debug/net6.0/Il2CppSystem.Core.dll
MelonLoader/bin/x64/Debug/net6.0/Il2CppSystem.dll
MelonLoader/bin/x64/Debug/net6.0/Il2CppSystem.Xml.dll
MelonLoader/bin/x64/Debug/net6.0/MelonLoader.dll
MelonLoader/bin/x64/Debug/net6.0/MelonLoader.pdb
MelonLoader/bin/x64/Debug/net6.0/MelonLoader.xml
MelonLoader/bin/x64/Debug/net6.0/Microsoft.Diagnostics.NETCore.Client.dll
MelonLoader/bin/x64/Debug/net6.0/Microsoft.Diagnostics.Runtime.dll
MelonLoader/bin/x64/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
MelonLoader/bin/x64/Debug/net6.0/Mono.Cecil.dll
MelonLoader/bin/x64/Debug/net6.0/Mono.Cecil.Mdb.dll
MelonLoader/bin/x64/Debug/net6.0/Mono.Cecil.Pdb.dll
MelonLoader/bin/x64/Debug/net6.0/Mono.Cecil.Rocks.dll
MelonLoader/bin/x64/Debug/net6.0/MonoMod.Backports.dll
MelonLoader/bin/x64/Debug/net6.0/MonoMod.ILHelpers.dll
MelonLoader/bin/x64/Debug/net6.0/MonoMod.RuntimeDetour.dll
MelonLoader/bin/x64/Debug/net6.0/MonoMod.Utils.dll
MelonLoader/bin/x64/Debug/net6.0/PvZ_Fusion_Translator.deps.json
MelonLoader/bin/x64/Debug/net6.0/PvZ_Fusion_Translator.dll
MelonLoader/bin/x64/Debug/net6.0/PvZ_Fusion_Translator.pdb
MelonLoader/bin/x64/Debug/net6.0/Tomlet.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.2D.Animation.Runtime.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.2D.Common.Runtime.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.2D.SpriteShape.Runtime.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.Burst.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.Burst.Unsafe.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.Collections.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.Collections.LowLevel.ILSupport.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.InternalAPIEngineBridge.001.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.Mathematics.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.RenderPipeline.Universal.ShaderLibrary.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.RenderPipelines.Core.Runtime.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.RenderPipelines.Universal.Runtime.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.TextMeshPro.dll
MelonLoader/bin/x64/Debug/net6.0/Unity.VisualScripting.Core.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.AccessibilityModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.AIModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.AndroidJNIModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.AnimationModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.ARModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.AssetBundleModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.AudioModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.ClothModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.ContentLoadModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.CoreModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.CrashReportingModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.DirectorModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.DSPGraphModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.GameCenterModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.GIModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.GridModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.HotReloadModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.ImageConversionModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.IMGUIModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.InputLegacyModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.InputModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.JSONSerializeModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.LocalizationModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.ParticleSystemModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.PerformanceReportingModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.Physics2DModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.PhysicsModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.ProfilerModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.PropertiesModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.ScreenCaptureModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.SharedInternalsModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.SpriteMaskModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.SpriteShapeModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.StreamingModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.SubstanceModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.SubsystemsModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.TerrainModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.TerrainPhysicsModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.TextCoreFontEngineModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.TextCoreTextEngineModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.TextRenderingModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.TilemapModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.TLSModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UI.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UIElementsModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UIModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UmbraModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UnityAnalyticsCommonModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UnityAnalyticsModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UnityConnectModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UnityCurlModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UnityTestProtocolModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UnityWebRequestAssetBundleModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UnityWebRequestAudioModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UnityWebRequestModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UnityWebRequestTextureModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.UnityWebRequestWWWModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.VehiclesModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.VFXModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.VideoModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.VRModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.WindModule.dll
MelonLoader/bin/x64/Debug/net6.0/UnityEngine.XRModule.dll
MelonLoader/bin/x64/Debug/net6.0/WebSocketDotNet.dll
/BepInEx/bin/Debug/net6.0
.HOWTO-sync-MelonLoader-from-origin-main.txt
/MelonLoader/bin/ReleaseMulti/net6.0
BepInEx/Patches/GameObjects/changes.txt
/Assembly-CSharp