################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BepInEx/copilot-chat/bff105b7/sessions
/.vs
/bin
/obj
/MelonLoader/obj
/BepInEx/obj/Debug/net6.0
/BepInEx/obj
/BepInEx/bin/ReleaseMulti/net6.0
/AlmanacPlantBank_Patch.cs
/MelonLoader/bin/x64/Debug
/BepInEx/bin/Debug/net6.0
.HOWTO-sync-MelonLoader-from-origin-main.txt
/MelonLoader/bin/ReleaseMulti/net6.0
BepInEx/Patches/GameObjects/changes.txt
/Assembly-CSharp
/MelonLoader/bin/Debug/net6.0
