################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BepInEx/copilot-chat/bff105b7/sessions
/.vs
/bin
/obj
/MelonLoader/obj
/BepInEx/obj/Debug/net6.0
/BepInEx/obj
